<section class="main">
    <h3 class="main-h3">Recently added</h3>
    <h2 class="main-h2">Newest recipes</h2>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <a href="#"><img src="images/AA.jpg" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>

            <div class="carousel-item">
                <a href=""><img src="images/BB.jpg" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href=""><img src="images/CC.jpg" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href=""><img src="images/DD.jpg" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>


<section class="category">
    <h3>Choose a category</h3>
    <h2>Recipe Categories</h2>
    <section class="category-container">

        <figure class="category-card yellow">
            <img src="images/AA.jpg" alt="category-food">
            <div class="fig-caption">
                <p><span>There’s nothing better than sitting down and enjoy the delicious dishes.</span></p>
                <h2>Delicious <span>Food</span></h2>
            </div>
        </figure>
        <figure class="category-card blue">
            <img src="images/BB.jpg" alt="category-drink">
            <div class="fig-caption">
                <p><span>Few things are better than sharing great food and great drinks with great company.</span></p>
                <h2>Special <span>Drink</span></h2>
            </div>
        </figure>
        <figure class="category-card red">
            <img src="images/CC.jpg" alt="category-desserts">
            <div class="fig-caption">
                <p><span>Nothing completes a meal quite like a special sweet.</span></p>
                <h2>Sweet <span>Desserts</span></h2>
            </div>
        </figure>
        <figure class="category-card green">
            <img src="images/DD.jpg" alt="category-vegetarian">
            <div class="fig-caption">
                <p><span>Find out just how delicious it can be with adding vegetables.</span></p>
                <h2>Flugal <span>Salads</span></h2>
            </div>
        </figure>
    </section>
</section>

<section class="card-section">


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="card-h3">For Beginner</h3>
                <div class="card-columns">

                </div>
            </div>

            <div class="col-md-1">

            </div>

            <div class="col-md-7">
                <h3 class="card-h3">Recipes you may like</h3>
                <h2 class="card-h2">The Best Recipes</h2>
                <div class="card-columns">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top"
                                src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=774&q=80"
                                alt="Card image cap">
                            <div class="card-body">
                                <h3 id="trending-recipe-category">cake</h3>
                                <h5 class="card-title" id="card-title">toast bread with blueberry on black plate</h5>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i><span id="time">40 Mins</span><i
                                            class="fa fa-bolt"></i><span id="level">Easy</span><i
                                            class="fa fa-users"></i><span id="serving">1-3</span>
                                    </small>
                                </p>
                            </div>
                        </a>
                    </div>


                    <div class="card">
                        <a href="#">
                            <img class="card-img-top"
                                src="https://images.unsplash.com/photo-1472076638602-b1f8b1ac0b4a?ixlib=rb-0.3.5&s=63c9de7246b535be56c8eaff9b87dd89&auto=format&fit=crop&w=500&q=80"
                                alt="Card image cap">
                            <div class="card-body">
                                <h3 id="trending-recipe-category">food</h3>
                                <h5 class="card-title" id="card-title">Lorem ipsum dolor sit amet.</h5>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i><span id="time">40 Mins</span><i
                                            class="fa fa-bolt"></i><span id="level">Easy</span><i
                                            class="fa fa-users"></i><span id="serving">1-3</span>
                                    </small>
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="#">
                            <img class="card-img-top"
                                src="https://images.unsplash.com/photo-1599496507927-9056debd0f0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                                alt="Card image cap">
                            <div class="card-body">
                                <h3 id="trending-recipe-category">food</h3>
                                <h5 class="card-title" id="card-title">Lorem ipsum dolor sit amet.</h5>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i><span id="time">40 Mins</span><i
                                            class="fa fa-bolt"></i><span id="level">Easy</span><i
                                            class="fa fa-users"></i><span id="serving">1-3</span>
                                    </small>
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="#">
                            <img class="card-img-top"
                                src="https://images.unsplash.com/photo-1535074153497-b08c5aa9c236?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2aaf944a59f16fe1fe72f5057b3a7dd&auto=format&fit=crop&w=500&q=80"
                                alt="Card image cap">
                            <div class="card-body">
                                <h3 id="trending-recipe-category">food</h3>
                                <h5 class="card-title" id="card-title">Lorem ipsum dolor sit amet.</h5>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i><span id="time">40 Mins</span><i
                                            class="fa fa-bolt"></i><span id="level">Easy</span><i
                                            class="fa fa-users"></i><span id="serving">1-3</span>
                                    </small>
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="#">
                            <img class="card-img-top"
                                src="https://images.unsplash.com/photo-1535124406821-d2848dfbb25c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c434d75b44c9c23fc9df2a9a77d59f&auto=format&fit=crop&w=500&q=80"
                                alt="Card image cap">
                            <div class="card-body">
                                <h3 id="trending-recipe-category">food</h3>
                                <h5 class="card-title" id="card-title">Lorem ipsum dolor sit amet.</h5>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i><span id="time">40 Mins</span><i
                                            class="fa fa-bolt"></i><span id="level">Easy</span><i
                                            class="fa fa-users"></i><span id="serving">1-3</span>
                                    </small>
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top"
                                src="https://images.unsplash.com/photo-1508015926936-4eddcc6d4866?ixlib=rb-0.3.5&s=10b3a8717ab609be8d7786cab50c4e0b&auto=format&fit=crop&w=500&q=80"
                                alt="Card image cap">
                            <div class="card-body">
                                <h3 id="trending-recipe-category">food</h3>
                                <h5 class="card-title" id="card-title">Lorem ipsum dolor sit amet.</h5>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fa fa-clock-o"></i><span id="time">40 Mins</span><i
                                            class="fa fa-bolt"></i><span id="level">Easy</span><i
                                            class="fa fa-users"></i><span id="serving">1-3</span>
                                    </small>
                                </p>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>